@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'whiskeygirls';
    src: url('midias/whiskeygirls3d.ttf') format('truetype');
}

body{
    text-align: justify;
    background-image: linear-gradient(to right, #4E0250, #801a86f5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

ul{
    padding-left: 40px;
    padding-right: 40px;
}

h1{
    text-align: center;
    font-family: 'whiskeygirls';
    font-size: 3em;
    line-height: 40px;
    color: #a802ad;
}

p, h1, h2, h3, h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

h2, h3{
    font-family: 'Bebas Neue';
    font-size: 2.4em;
}

.fontsninja{
    color: darkred;
    
}

.fontsninja:hover{
    font-weight: bold;
    color: #20DCA1;
    font-size: 1.4em;
    transition-duration: 0.7s;
}

.adobe-color{
    color: darkred;
}

.adobe-color:hover{
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: rgba(0, 136, 7, 0.63);
    font-weight: bolder;
}

.paletton{
    color: darkred;
}

.paletton:hover{
    font-size: 1.4em;
    font-weight: bolder;
    transition-duration: 0.7s;
    color: #FFBE0B;
}

.coolors{
    color: darkred;
}

.coolors:hover{
    font-weight: bolder;
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: #FF006E;
}

.colorzila{
    color: darkred;
}

.colorzila:hover{
    font-weight: bolder;
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: #8338EC;
}

.window-r{
    color: darkred;
}

.window-r:hover{
    color: rgb(255, 0, 255);
    font-size: 1.4em;
    transition-duration: 0.7s;
    font-weight: bold;
}

.exemplo-hover{
    display: inline-block;
    height: 200px;
    width: 200px; 
    background-color: lightgray; border: 1px solid black;
    text-align: center;
}

.exemplo-hover:hover{
    background-color: yellow;
}

h6#caixa{
    width: 100px;
    height: 100px;
    border: 10px solid #9c6846;
    margin: 10px;
    outline: 10px solid #774f35;
    padding: 10px;
    text-align: center;
    background-color: #fca86f;
    text-shadow: 10px 10px 10px black;
}

main{
    width: 900px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

div#coldpage{
    width: 700px;
    background-color: #9EC2FE;
    border-radius: 20px;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
    border: 4px solid rgb(61, 170, 243);
    margin-top: 10px;
    margin-bottom: 10px;
}

div#firepage{
    width: 700px;
    background-color: #F76F6F;
    border-radius: 20px;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
    border: 4px solid rgb(243, 61, 61);
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    display: flex;
}

ul#centraliza{
    padding-left: 120px;
    padding-right: 140px;
}

a#inline{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    background-color: hsl(211, 22%, 74%);
    border: 2px solid red;
    padding: 5px;
}

h1#boxlevel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(211, 22%, 74%);
    border: 2px solid red;
    font-size: 2em;
    color: black;
}

a#exemplotransition{
    font-size: 1.4em;
    text-decoration: none;
    color: black;
    background-color: rgb(226, 158, 110);
    font-weight: bolder;
    border-radius: 6px;
    padding: 10px;
}
a#exemplotransition:hover{
    font-size: 2.1em;
    color: red;
    font-weight: bolder;
    transition-duration: 0.6s;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 10px;
}

a#whatfontis{
    color: darkred;
}

a#whatfontis:hover{
    font-weight: bolder;
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: #0496FF;
}

a#fontsquirrel{
    color: darkred;
}

a#fontsquirrel:hover{
    font-weight: bolder;
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: gold;
}

a#myfonts{
    color: darkred;
}

a#myfonts:hover{
    font-weight: bolder;
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: #ff006f;
}

a#dafont{
    color: darkred;
}

a#dafont:hover{
    font-weight: bolder;
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: #00fff2;
}

a#googlefonts{
    color: darkred;
}

a#googlefonts:hover{
    font-weight: bolder;
    font-size: 1.4em;
    transition-duration: 0.7s;
    color: #ff00bf;
}